<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
    <title>Scraping!!</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light">
        <li class="nav-item">
            Mongo Scraper
        </li>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button class="nav-link">Home <span class="sr-only">(current)</span></button>
            </li>
            <li class="nav-item">
                <button id="itemList" class="nav-link">Saved List</button>
            </li>

            <li class="nav-item">
                <button id="scrape" class="nav-link" style="color: rgb(116, 9, 9);">Add more animes on the list</button>
            </li>
            </ul>
        </div>
    </nav>

    {{{ body }}}
    
    <footer class='black-foot'> 
        <div class='footer-wrapper'>
            <div class='component-wrapper-left'>
                <a class='link-white' href='index.html'><h1>TK</h1></a>
                <div class='icon-wrapper'>
                    <ul>
                        <li class='icon'>
                            <a href='https://www.linkedin.com/in/takahiro-kawaguchi-972aa2134/'>
                                <i class="fab fa-linkedin fa-2x" alt='linkedin icon'></i>
                            </a>
                        </li>
                        <li class='icon'>
                            <a href='https://github.com/aaio0413'>
                                <i class="fab fa-github fa-2x" alt='github icon'></i>
                            </a>
                        </li>
                        <li class='icon'>
                            <a href='https://www.facebook.com/takahiro.kawaguchi.904'>
                                <i class="fab fa-facebook-square fa-2x" alt='facebook icon'></i>
                            </a>
                        </li>
                        <li class='icon'>
                            <a href='https://twitter.com/aaio_0413'>
                                <i class="fab fa-twitter-square fa-2x" alt='twitter icon'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='component-wrapper-right'>
                <div class='second-footer'>
                        <h2>ABOUT ME</h2>
                        <br>
                        <ul class='footer-contents'>
                            <li>Profile and Bio</li>
                            <li>Blog</li>
                            <li>Team</li>
                            <li>Privacy</li>
                        </ul>
                </div>
                <div class='third-footer'>
                        <h2>WORK</h2>
                        <br>
                        <ul class='footer-contents'>
                            <li>Apps</li>
                            <li>Designs</li>
                            <li>Pictures</li>
                            <li>Pages</li>
                        </ul>
                </div>
                <div class='fourth-footer'>
                        <h2>CLIENTS</h2>
                        <br>
                        <ul class='footer-contents'>
                            <li>Testimony</li>
                            <li>Forum</li>
                            <li>Contact Us</li>
                            <li>About Us</li>
                        </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

<script src="/assets/js/main.js"></script>
</html>